<?xml version="1.0" encoding="utf-8"?>
<!-- Pre-Android-12 launch window: brand ground, brand mark, no Flutter logo. -->
<layer-list xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:drawable="@color/brand_splash_background" />
    <item>
        <bitmap
            android:gravity="center"
            android:src="@drawable/brand_mark" />
    </item>
</layer-list>
